.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
}

.back-button {
    position: fixed;
    top: 127px;
    left: 20px;
    background: #4b31fd;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar {
    background-color: #4b31fd !important;
}

/* Estilos para la navegación principal */
.navbar .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

.navbar .nav-link:hover {
    color: white !important;
}

.navbar .nav-link.active {
    color: white !important;
    font-weight: bold;
}

/* Estilos para las pestañas de navegación */
.nav-tabs .nav-link {
    color: #4b31fd !important;
    font-weight: 500;
}

.nav-tabs .nav-link:hover {
    color: #3621d9 !important;
}

.nav-tabs .nav-link.active {
    color: #2812c5 !important;
    font-weight: bold;
    border-color: #4b31fd;
}