<div
  class="flex flex-col w-full max-w-[17rem] min-h-[12rem] bg-gradient-to-b from-secundario/20 to-secundario/10 rounded-xl p-4 md:p-6 shadow-md border border-secundario/40 hover:shadow-lg transition-all flex flex-col group">

  <!-- Imagen solo para certificados -->
  <ng-content></ng-content>

  @if (tipo === 'certificado') {
    <h2 class="text-indigo-600 font-bold text-center text-lg mt-1 mb-1">
      {{ titulo2 }}
    </h2>
  }

  <!-- Título -->
  @if (tipo === 'venta' || tipo === 'curso') {
  <div class="flex justify-between">
    <div class="min-h-[4.5rem] flex items-center justify-center text-center p-1">
      <h2 class="text-2xl font-bold text-primario group-hover:text-primario/80 transition line-clamp-2"
        [title]="titulo">
        {{ titulo }}
      </h2>
    </div>
  </div>
  }

  @if (tipo === 'curso') {
  <!-- Progreso para cursos -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <div class="mb-4 min-h-[2.5rem] flex flex-col justify-center">
      <div class="text-sm font-medium text-gray-400 mb-1 text-center">Progreso</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5">
        <div class="h-2.5 rounded-full" [style.width.%]="progreso"
          style="background: linear-gradient(to right, #d2ccff, #4B31FD);"></div>
      </div>
    </div>
  </div>
  }

  @if (tipo === 'venta' && precio) {
  <!-- Precio para ventas -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <div class="mb-4 min-h-[2.5rem] flex items-center justify-center">
      <span class="flex items-center bg-yellow-100 text-yellow-700 text-lg font-semibold px-2 py-1 rounded-full">
        <span class="mr-1 ml-1">{{ precio }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </span>
    </div>
  </div>
  }

  <!-- Descripción -->
  @if (tipo === 'venta' || tipo === 'curso' || tipo === 'certificado') {
  @if (descripcion?.trim()) {
  <div class="flex justify-between">
    <p class="text-center text-gray-500 text-sm mb-1 flex-1 overflow-hidden line-clamp-3">
      {{ descripcion }}
    </p>
  </div>
  }
  }

  <!-- Bloque de información -->
  <div class="flex flex-col space-y-2 text-sm text-gray-600 mb-3">

    <!-- Info: profesor y duración -->
    @if (tipo === 'venta' || tipo === 'curso') {
    <div class="flex justify-between">
      <div class="w-1/2 truncate flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5 text-primario">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
        </svg>
        <span>{{ profesor }}</span>
      </div>
      <div class="w-1/2 truncate flex items-center gap-2 justify-end">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5 text-primario">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 10.5h.375c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125H21M4.5 10.5h6.75V15H4.5v-4.5ZM3.75 18h15A2.25 2.25 0 0 0 21 15.75v-6a2.25 2.25 0 0 0-2.25-2.25h-15A2.25 2.25 0 0 0 1.5 9.75v6A2.25 2.25 0 0 0 3.75 18Z" />
        </svg>
        <span>{{ duracion }}</span>
      </div>
    </div>

    <!-- Fecha y modalidad -->
    <div class="flex justify-between">
      <div class="w-1/2 truncate flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5 text-primario">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
        </svg>
        <span>{{ fecha }}</span>
      </div>
      <div class="w-1/2 truncate flex items-center gap-2 justify-end">
        @if (modalidad === 'presencial') {
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5 text-primario">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
        </svg>
        <span>Presencial</span>
        } @else if (modalidad === 'remoto') {
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5 text-primario">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
        </svg>
        <span>Remoto</span>
        }
      </div>
    </div>
    }
  </div>

  <!-- Botón -->
  <div class="mt-auto">
    @if (tipo === 'certificado') {
    <button (click)="descargarCertificado()"
      class="w-full py-1 rounded-lg bg-primario text-white font-semibold hover:bg-primario/80 transition">
      Descarga
    </button>
    } @else {
    <button (click)="onClick()"
      class="w-full py-1 rounded-lg bg-primario text-white font-semibold hover:bg-primario/80 transition">
      {{ tipo === 'curso' ? 'Entra' : tipo === 'venta' ? 'Accede' : 'Descarga' }}
    </button>
    }
  </div>
</div>