<div class="flex min-h-screen">
  <div class="flex-1 space-y-6 p-6 bg-white rounded-lg shadow-md">
    <div class="relative w-full h-64 rounded-lg overflow-hidden mb-6">
      <img
        src="./assets/curso.avif"
        alt="Imagen de UX Research"
        class="w-full h-full object-cover"
      />
      <h2
        class="absolute bottom-4 left-4 text-white text-3xl font-bold drop-shadow-lg"
      >
        UX Research
      </h2>
    </div>

    <div class="bg-gray-100 p-4 rounded-md">
      <p class="text-gray-600 text-sm font-medium mb-2">COMPONENTE PROGRESO</p>
    </div>

    <div class="flex gap-6">
      <a
        href="#"
        class="flex items-center gap-2 text-blue-600 font-medium hover:underline hover:text-blue-800 transition"
      >
        <img
        src="./assets/teams.png"
        alt="Icono de Teams"
        class="w-6 h-6 object-cover"
      />
        Enlace a Teams
      </a>
      <a
        href="#"
        class="flex items-center gap-2 text-blue-600 font-medium hover:underline hover:text-blue-800 transition"
      >
        <img
        src="./assets/slack.svg"
        alt="Icono de Slack"
        class="w-6 h-6 object-cover"
      />
        Enlace a Slack
      </a>
    </div>

    <div class="bg-gray-50 p-4 rounded-md">
      <div class="flex justify-between items-center mb-2">
        <p class="text-gray-700 text-base font-semibold">CALIFICACIÓN</p>
        <span class="text-gray-400 text-sm font-medium">No disponible</span>
      </div>

      <app-modulo
        class="m-2"
        titulo="Diseno de Experiencia, Interfaz de Usuario y Estrategia de contenido"
        [numero]="1"
        estado="habilitado"
      ></app-modulo>
      <app-modulo
        class="m-2"
        titulo="Transformacion digital"
        [numero]="2"
        estado="habilitado"
      ></app-modulo>
      <app-modulo
        class="m-2"
        titulo="Direcion de Producto: gestion de proyectos y comunicacion"
        [numero]="3"
        estado="deshabilitado"
      ></app-modulo>
      <app-modulo
        class="m-2"
        titulo="Aula de prototipado y lenguajes de desarrollo"
        [numero]="4"
        estado="deshabilitado"
      ></app-modulo>
    </div>
  </div>
</div>
