<div class="w-40 h-full ml-3 border-[3px] border-[#4b30fc] rounded-xl shadow-md">
    <div class="flex flex-col items-center py-4 text-lg tracking-wide space-y-4">
        <p class="px-3 py-1 text-center rounded-lg w-32 hover:bg-[#d2ccff] cursor-pointer transition-colors duration-300">Mis cursos</p>
        <p class="px-3 py-1 text-center rounded-lg w-38 hover:bg-[#d2ccff] cursor-pointer transition-colors duration-300">Calificaciones</p>
        <p class="px-3 py-1 text-center rounded-lg w-32 w-full hover:bg-[#d2ccff] cursor-pointer transition-colors duration-300">Mis tareas</p>
        <p class="px-3 py-1 text-center rounded-lg w-32 w-full hover:bg-[#d2ccff] cursor-pointer transition-colors duration-300">Certificados</p>
        <p class="px-3 py-1 text-center rounded-lg w-28 w-full hover:bg-[#d2ccff] cursor-pointer transition-colors duration-300">Insignias</p>
    </div>
</div>