<div class="container mx-auto px-4 py-8">
    <app-header [titulo]="'Cursos Nuevos'"
        [iconoD]="'M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25'">
        
    </app-header>

    <!-- Grid de cursos -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-8">
        <app-card tipo="venta" precio="229" titulo="Machine Learning" fecha="15 de Mayo" duracion="8 semanas" profesor="Ana García">
        </app-card>
        <app-card tipo="venta" precio="249" titulo="Diseño UX/UI" fecha="22 de Mayo" duracion="6 semanas" profesor="Carlos Ruiz">
        </app-card>
    </div>
</div>