<div class="bg-secundario bg-opacity-20 border border-secundario rounded-2xl p-4 sm:p-6 mb-8 w-full">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-lg font-semibold text-gray-800">Cursos Recomendados</h2>
    <a [routerLink]="'/nuevoscursos'" class="text-sm text-primario hover:text-primario-600">Ver Todo</a>
  </div>
  <div class="space-y-8">
    <app-course-card-hybrid 
      *ngFor="let course of hybridCourses" 
      [course]="course"
      [showProgress]="false"
      [showPrice]="true"
      class="max-w-xs mx-auto md:mx-0"
      (navigate)="onNavigate($event)"
      (enroll)="onEnroll($event)">
    </app-course-card-hybrid>
  </div>
</div>