<div class="max-w-2xl mx-auto my-10">
    <app-header [titulo]="'Preguntas Frecuentes'"
        [iconoD]="'M12 18h.01M12 14a4 4 0 10-4-4 4 4 0 004 4zm0 0v2m0-2a2 2 0 110-4 2 2 0 010 4z'">
    </app-header>


    <div class="space-y-6">

         <!-- Primera pregunta y contenedor de la primera pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Qué es el campus virtual de cuatico ?</div>
            <div class="text-gray-700 text-base">
                El campus virtual de cuatico es una plataforma en línea donde puedes acceder a tus cursos, materiales de estudio,
                enviar tareas, comunicarte con profesores y consultar tus calificaciones.
            </div>
        </div>

        <!-- Segunda pregunta y contenedor de la segunda pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Cómo accedo al campus virtual de cuatico?</div>
            <div class="text-gray-700 text-base">
                Debes ingresar a la plataforma usando tu usuario y contraseña asignados. Si es la primera vez que
                accedes, revisa tu correo institucional para obtener tus credenciales.
            </div>
        </div>

        <!-- Tercera pregunta y contenedor de la tercera pregunta
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Qué hago si olvidé mi contraseña?</div>
            <div class="text-gray-700 text-base">
                En la pantalla de inicio de sesión, haz clic en "¿Olvidaste tu contraseña?" y sigue las instrucciones
                para restablecerla. Si tienes problemas, contacta con el soporte técnico.
            </div>
        </div> -->

        <!-- Cuarta pregunta y contenedor de la cuarta pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Por qué no veo mis cursos?</div>
            <div class="text-gray-700 text-base">
                Asegúrate de estar matriculado correctamente cumpliendo las instrucciones. Si el problema persiste, contacta con
                soporte técnico.
            </div>
        </div>

        <!-- Quinta pregunta y contenedor de la quinta pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Cómo subo tareas o archivos?</div>
            <div class="text-gray-700 text-base">
                Entra en el curso correspondiente, busca la sección de tareas, haz clic en la tarea y sigue las
                instrucciones para adjuntar y enviar tus archivos.
            </div>
        </div>

        <!-- Sexta pregunta y contenedor de la sexta pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Cómo puedo comunicarme con mis profesores?</div>
            <div class="text-gray-700 text-base">
                Puedes solicitar una tutoría a través del apartado de "Solititar tutoria" en el perfil.
            </div>
        </div>

        <!-- Septima pregunta y contenedor de la septima pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Cómo consulto mis calificaciones?</div>
            <div class="text-gray-700 text-base">
                Dentro de tu cuennta , accede al apartado de "Calificaciones" para ver tus resultados y feedback de los profesores.
            </div>
        </div>

        <!-- Ocatava pregunta y contenedor de la octava pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Qué hago si tengo problemas técnicos?</div>
            <div class="text-gray-700 text-base">
                Primero, intenta cerrar sesión y volver a entrar, o prueba con otro navegador. Si el problema continúa,
                contacta con el soporte técnico indicando el error y, si es posible, adjunta una captura de pantalla.
            </div>
        </div>

        <!-- Novena pregunta y contenedor de la novena pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Qué navegador debo usar para acceder al campus
                virtual?</div>
            <div class="text-gray-700 text-base">
                Se recomienda usar la última versión de Google Chrome, Mozilla Firefox o Microsoft Edge para una mejor
                compatibilidad pero puedes usar cualquiera que tengas disponible.
            </div>
        </div>

        <!-- Decima pregunta y contenedor de la decima pregunta
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Cómo participo en foros y actividades colaborativas?
            </div>
            <div class="text-gray-700 text-base">
                Dentro de cada curso, accede a la sección de foros o actividades colaborativas, lee las instrucciones y
                publica tus mensajes o respuestas según las indicaciones del profesor.
            </div>
        </div> -->

        <!-- Undecima pregunta y contenedor de la undecima pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿Dónde encuentro los materiales de estudio?</div>
            <div class="text-gray-700 text-base">
                Los materiales están disponibles en cada curso especificado dependiendo de que modulo quieras la informacion .
            </div>
        </div>

        <!-- Duodecima pregunta y contenedor de la duodecima pregunta -->
        <div class="bg-white rounded-lg shadow p-6">
            <div class="font-semibold text-lg text-gray-900 mb-2">¿A quién puedo contactar si necesito ayuda adicional?
            </div>
            <div class="text-gray-700 text-base">
                Puedes escribir al soporte técnico del campus virtual o solicitar una tutoría a través del apartado de "Solicitar tutoría" en tu perfil.
        </div>


    </div>
</div>