<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 max-w-7xl mx-auto py-8 px-8">
  <app-card
    [id]="1"
    (navigate)="irADetalle($event)"
    titulo="Desarrolla tu creatividad"
    profesor="Itxintxu"
    lecciones="8"
    duracion="4 semanas"
    [progreso]="95"
    fecha="5 de Mayo"
    modalidad="presencial"
    tipo="venta">
  </app-card>

  <app-card
    [id]="1"
    (navigate)="irADetalle($event)"
    titulo="Diseño de Interfaces"
    profesor="Diana"
    lecciones="14"
    duracion="6 semanas"
    [progreso]="70"
    fecha="19 de Abril"
    modalidad="presencial"
    tipo="venta">
  </app-card>

  <app-card
    [id]="1"
    (navigate)="irADetalle($event)"
    titulo="UX Research"
    profesor="Diana"
    lecciones="10"
    duracion="5 semanas"
    [progreso]="80"
    fecha="12 de Mayo"
    modalidad="remoto"
    tipo="venta">
  </app-card>

  <app-card
    [id]="1"
    (navigate)="irADetalle($event)"
    titulo="Diseño de producto"
    profesor="Carlos"
    lecciones="12"
    duracion="6 semanas"
    [progreso]="65"
    fecha="26 de Abril"
    modalidad="remoto"
    tipo="venta">
  </app-card>
</div>
