<div
  *ngIf="estado === 'habilitado'"
  class="shadow rounded-lg p-4 border bg-secundario/30 border-secundario/50 hover:shadow-lg transition-all flex items-center gap-2"
>
  <p class="text-lg font-bold text-primario whitespace-nowrap">
    Módulo {{ numero }}:
  </p>
  <p class="text-lg font-semibold text-primario flex-1">{{ titulo }}</p>
</div>

<div
  *ngIf="estado === 'deshabilitado'"
  class="shadow rounded-lg p-4 border bg-gray-100 border-gray-300 transition-all"
>
  <p class="text-lg font-semibold flex items-center gap-2 text-gray-400">
    Módulo {{ numero }}: {{ titulo }}
    <span class="ml-2">
      <svg
        class="h-5 w-5 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 10V7a4 4 0 10-8 0v3m-2 0a2 2 0 00-2 2v6a2 
             2 0 002 2h12a2 2 0 002-2v-6a2 2 0 00-2-2H6z"
        />
      </svg>
    </span>
  </p>
</div>
