<div class="w-full sm:max-w-sm sm:mx-auto">
  @if (!horizontal) {
    <div>
      <label [for]="id" class="block text-sm/6 font-medium text-gray-900">
        {{ label }}
        @if (required) {
          <span class="required text-red-600">*</span>
        }
      </label>
      <div class="mt-2">
        <input
          [type]="type"
          [id]="id"
          [placeholder]="placeholder"
          [required]="required"
          [value]="model"
          (input)="onInput($event)"
          class="block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-gray-900 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primario sm:text-sm/6"
        />
      </div>
    </div>
  }
  @if (horizontal) {
    <div class="flex items-center gap-x-2">
      <label [for]="id" class="text-sm/6 font-medium text-gray-900 shrink-0">
        {{ label }}
        @if (required) {
          <span class="required text-red-600">*</span>
        }
      </label>
      <input
        [type]="type"
        [id]="id"
        [placeholder]="placeholder"
        [required]="required"
        [value]="model"
        (input)="onInput($event)"
        class="flex-1 rounded-md border border-gray-300 bg-white px-3 py-1.5 text-gray-900 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primario sm:text-sm/6"
      />
    </div>
  }
</div>
