<div
    class="w-64 h-72 m-3 border-[3px] border-[#4b30fc] rounded-xl transition transform hover:scale-105 shadow-md hover:shadow-lg">
    <div class="w-full h-40 flex justify-center overflow-hidden">
        <img src="assets/provisional.jpg" class="w-full h-full object-cover rounded-t-lg shadow-md" alt="Imagen provisional">
    </div>
    <h4 class="text-xl mx-4 my-4">TITULO</h4>
    <button
        class="font-semibold tracking-wide text-white bg-[#4b30fc] hover:text-[#d2ccff] ml-4 px-3 py-2 rounded-lg shadow-md hover:shadow transition">BOTON</button>
</div>